<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/index.html">About Us</a></li>
	        	<!--	<li><a href="/info">(to be used later)</a></li> -->
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ohrohana@gmail.com">email</a></li>
	        		<li><a href="https://github.com/cst-100/Launchrats-West-Coast">GitHub Repository</a></li>
				<a href="http://www.reliablecounter.com" target="_blank"><img src="https://www.reliablecounter.com/count.php?page=cst-100.github.io&digit=style/plain/13/&reloads=0" alt="" title="" border="0"></a><br /><a href="http://www.reliablecounter.com/blog/banksy-art-graffiti-artist/" target="_blank" style="font-family: Geneva, Arial; font-size: 9px; color: #330010; text-decoration: none;">art</a>
				</ul>
			</footer>
		</body>
	</html>
