<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name=”description” content=”LaunchRats West Coast: Your guide to viewing rocket launches at Vandenberg Air Force Base.”/>
			<meta property=”og:title” content=”LaunchRats West Coast” />
			<meta property=”og:description” content=”LaunchRats West Coast: Your guide to viewing rocket launches at Vandenberg Air Force Base.” />
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about/index.html">About Us</a></li>
	        	<!--	<li><a href="/info">(to be used later)</a></li> -->
	        		<li><a href="http://launchrats.com/">LaunchRats Cape Canaveral</a></li>
				<li><a href="http://dev.coolstorm.tk">LaunchRats West Coast 1.0 BETA</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ohrohana@gmail.com">email</a></li>
	        		<li><a href="https://github.com/cst-100/Launchrats-West-Coast">GitHub Repository</a></li>
				</ul>
			</footer>
		</body>
	</html>
